*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;
  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: rgb(255, 155, 144);

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 1100px) {
  :roo {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/*General Style*/

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

section {
  padding: 5em 2em;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: var(--fw-bold);
}

:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}
/*Buttons*/
.btn {
  display: inline-block;
  padding: 0.5em 1.5em;
  background: var(--clr-accent);
  text-decoration: onde;
  cursor: pointer;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: vaR(--fw-bold);
  transition: transform 200ms ease-in-out;
  text-decoration: none;
  color: var(--clr-dark);
}

.btn:hover {
  transform: scale(1.1);
}
/*Typography*/

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

.section_title {
  margin-bottom: 0.25em;
}

.section_subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section_title--intro {
  font-weight: var(--fw-reg);
}

.section_title--intro strong {
  display: block;
}

.section_subtitle--intro,
.section_subtitle--about {
  background: var(--clr-accent);
  font-size: var(--fs-h3);
  margin-bottom: 1em;
  font-weight: var(--fw-bold);
  padding: 0.5em 0.5em;
}

/*Header*/
nav {
  display: none;
}

.logo img {
  width: 30%;
  text-align: right;
}

/*Intro Section*/

.intro {
  position: relative;
}

.intro_img {
  box-shadow: var(--bs);
}

.section_subtitle--intro {
  display: inline-block;
}

@media (min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }

  .intro_img {
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
  }

  .section_subtitle--intro {
    align-self: start;
    grid-column: -1/1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
  }
}

/*My services section*/

.my-services {
  background-color: var(--clr-dark);
  background-image: url(img/laptop_coding_code.png);
  background-size: cover;
  color: var(--clr-light);
  text-align: center;
}

.section_title--services {
  color: var(--clr-accent);
  position: relative;
}

.section_title--services::after {
  content: "";
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: var(--clr-light);
  opacity: 0.25;
}

.service {
  max-width: 500px;
  margin: 0 auto;
}

@media (min-width: 800px) {
  .services {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
  }

  .service + .service {
    margin-left: 2em;
  }
}

/*About Me*/
.about-me {
  max-width: 1000px;
  margin: 0 auto;
}

.about-me img {
  box-shadow: var(--bs);
}

@media (min-width: 600px) {
  .about-me {
    display: grid;
    grid-template-columns: 1fr 350px;
    grid-template-areas:
      "title img"
      "subtitle img"
      "text img";
    grid-column-gap: 2em;
  }

  .section_title--about {
    grid-area: title;
  }

  .section_subtitle--about {
    grid-column: 1/-1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 2em;
    padding-right: calc(400px + 4em);
  }

  .about-me_img {
    grid-area: img;
    position: relative;
    z-index: 2;
  }
}

/*My Work*/

.my-work {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 20px;
}

.portfolio_item {
  background: var(--clr-accent);
  overflow: hidden;
}

.portfolio_item {
  text-decoration: none;
}

.portfolio_item p {
  font-size: var(--fs-h3);
  color: var(--clr-dark);
  font-weight: var(--fw-bold);
  list-style: none;
}

.portfolio_img {
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
}

.portfolio_item:focus {
  position: relative;
  z-index: 2;
}

.portfolio_img:hover,
.portfoilio_item:focus .portfolio_img {
  transform: scale(1.2);
  opacity: 0.5;
}

footer {
  background: #111;
  color: var(--clr-accent);
  text-align: center;
  padding: 2.5em 0;
}

.footer_link {
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
}

footer a {
  color: inherit;
  text-decoration: none;
}

.footer_link:hover,
.social-list__link:hover {
  opacity: 0.7;
}

.footer_link:hover {
  text-decoration: underline;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0;
  padding: 0;
}

.social-list__item {
  margin: 0 0.5em;
}
